.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.app {
  text-align: center;
  width: 100%;
  min-width: 800px;
  min-height: 800px;
  background-color: #424242;

}
